[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[[source]]
url = "http://10.100.0.1:8181/simple"
verify_ssl = false
name = "tanker"

[packages]
trio = "*"
sanic = "*"
path-py = "*"
ci = {editable = true, ref = "d71eba67c0080e9228faf1e6c046f9af952802b5", git = "ssh://git@10.100.0.1/Tanker/ci.git"}
#ci = {editable = true, path = "./../ci"}
pipenv = "==2018.05.18"

[dev-packages]
cffi = "==1.11.6"
pytest = "*"
faker = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.6"
