[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
trio = "*"

[dev-packages]
path-py = "*"
pytest = "*"
faker = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.5"
